# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.project
.settings/
bin/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# NetBeans
nb-configuration.xml

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
logs/
*.log

# Process IDs
.pids

# H2 Database files
*.db
*.trace.db

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


